table {
    margin: 10px;
}

tr {
    height: 60px;
}

td {
    font-size: 32px;
    border: 1px solid black;
    min-width: 80px;
    text-align: center;
    vertical-align: middle;
}

td:hover {
    background-color: aliceblue;
}